@media (min-width: 600px) {
    .background-container {
        background: url("../images/background.png") no-repeat;
        background-size: cover;
    }

    h1 {
        font-size: 90px;
        line-height: 100px;
    }

    .header__search-block {
        padding-left: 40px;
    }

    .header__search-block form {
        padding-left: 30px;
    }

    .header__search-block form::before {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background-size: contain;
    }

    .banner__action {
        display: flex;
        margin-top: 30px;
    }

    .action__item + .action__item {
        margin-top: 0;
        margin-left: 50px;
    }

    .action__icon {
        width: 50px;
        height: 50px;
        margin-right: 22px;
    }

    .action__watch-film .action__icon img {
        width: 11px;
        height: 15px;
    }

    .action__add-bookmark .action__icon img {
        width: 12px;
        height: 14px;
    }

    .banner {
        padding: 50px 0 85px;
    }

    .banner__description {
        margin-top: 100px;
    }

    .description__row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .description__item {
        margin-top: 0;
        margin-right: 77px;
    }

    .description__item {
        width: calc((100% / 3) - (154px / 2));
    }

    .description__item:nth-child(n + 4) {
        margin-top: 18px;
        width: 100%;
    }

    .offer {
        text-align: center;
        padding: 30px 0 70px;
    }

    .offer .inner {
        font-size: 25px;
        line-height: 38px;
    }

    .offer i {
        display: block;
    }

    .offer__form {
        max-width: 450px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .offer__form .input__block {
        width: calc((100% / 2) - (15px / 2));
        margin-left: 15px;
        margin-top: 40px;
    }

    .offer__form input {
        padding: 13px 20px 11px 40px;
    }

    .offer__form button {
        padding: 13px 10px 11px 10px;
    }

    .offer__form .input__block:nth-child(odd) {
        margin-left: 0;
    }

    .offer__form .input__block:last-child {
        width: 100%;
    }

    footer ul {
        display: flex;
    }

    footer ul li + li {
        margin-top: 0;
        margin-left: 30px;
    }
}

@media (min-width: 1024px) {
    header {
        justify-content: center;
        padding: 0;
    }

    .header__left-block {
        height: 80px;
        align-items: stretch;
    }

    .header__logo {
        display: flex;
        align-items: center;
    }

    .header__burger-menu {
        display: none;
    }

    nav {
        padding: 0 70px;
    }

    nav ul {
        height: 100%;
        display: flex;
    }

    nav li {
        display: flex;
        align-items: center;
    }

    .banner {
        padding: 80px 0 120px;
    }

    .banner .inner {
        padding: 0;
    }

    .description__item {
        width: auto;
        margin-right: 50px;
    }

    .description__item:nth-child(n + 4) {
        margin-top: 0;
        width: auto;
    }

    .offer {
        padding: 60px 0 90px;
    }

    .offer .inner {
        font-size: 35px;
        line-height: 53px;
    }

    .offer__form {
        max-width: 980px;
    }

    .offer__form .input__block {
        width: calc((100% / 3) - (80px / 3));
        margin-left: 40px;
    }

    .offer__form .input__block:last-child {
        width: calc((100% / 3) - (80px / 3));
        margin-left: 40px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer ul {
        padding-bottom: 0;
    }
}