input {
    border: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
}

button {
  border: 0;
  outline: none;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #fff;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #fff;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #fff;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}